<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.travelbank.knit">


    <application>
        <service android:name="com.travelbank.knit.schedulers.heavy.HThread1"/>
        <service android:name="com.travelbank.knit.schedulers.heavy.HThread2"/>
        <service android:name="com.travelbank.knit.schedulers.heavy.HThread3"/>
        <service android:name="com.travelbank.knit.schedulers.heavy.HThread4"/>
    </application>

</manifest>
